RewriteEngine On

# Blokir akses file sensitif
RewriteRule ^(env\.php|coffee\.sql|path\.php|config\.php)$ - [F,L,NC]

# Root  index.php
RewriteRule ^$ index.php [L]

# Menghilangkan ekstensi .php (hanya untuk file, bukan direktori)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Semua request yang bukan file nyata ke route.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php !-f
RewriteRule ^(.*)$ route.php [L,NC]

php_flag display_errors On
php_value error_reporting 32767
